# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
.venv/

# Testing/tooling
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/
.todo-db/

# IDE
.idea/
.vscode/
*.swp
.DS_Store
/docs/_build/html
